{# 
  Module name: CM Multilingual Menu
  Module version: 06.02.19
  Copyright 2019 leadstreet.be

  This Module add different Menu per language, can be used in global groups.
#}

{#
  Loop through all the declared values langs and look for a match comparing with the current slug of the visited page.
  Then display the selected menu (or the last one as default/callback).
#}
{% for lang in module.menu_by_lang %}
  {% if (slug is string_startingwith lang.lang_slug) ||  (loop.last and found != 1) %}
    {% menu
      id="{{ lang.id }}",
      root_type="{{ module.root_type }}",
      flyouts="{{ module.flyouts }}",
      max_levels="{{ module.max_levels }}",
      flow="{{ module.flow }}"
    %}
    {% set found = 1 %}
  {% endif %}
{% endfor %}
